<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <h2>Sample Application for listenings</h2>
    

    <ul class="icons">
      <li><a href="https://github.com/" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="https://www.facebook.com/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://ok.ru/profile/" target="_blank" class="icon fa-odnoklassniki-square"><span class="label">Instagram</span></a></li>
      <li><a class="icon fa-whatsapp"><span class="label">Whatsapp</span></a></li>
    </ul>
    
  </div>
</footer>